.box:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.height--nav {
  height: 2.8rem;
}

.sub {
  left: 0;
  bottom: 0;
  right: 0;
}

.fixed {
  position: relative;
}

.width-vw {
  width: 100%;
}

.center {
  margin: 0 auto;
}

.cursor-pointer {
  cursor: pointer;
}

.transition--default {
  transition: 1s;
}

.box-shadow--black {
  box-shadow: 0 0 0.5rem #121212;
}

.x-margin {
  margin: 0;
}

.x-padding {
  padding: 0;
}

.flex {
  display: flex;
}
.flex--row {
  flex-flow: row;
}
.flex--center {
  align-items: center;
  justify-content: center;
}

.height-percent {
  height: 100%;
}

.right {
  float: right;
}

.left {
  float: left;
}

.top-menu *:hover {
  cursor: pointer;
}

.clear-fix {
  clear: both;
}

.top-menu-icon {
  padding: 0;
  position: absolute;
  top: 15px;
  right: 30px;
  display: none;
}

@media screen and (max-width: 1090px) {
  .top-menu {
    max-height: 0;
    overflow: hidden;
  }

  .top-menu > .left,
  .top-menu > .right {
    display: none;
  }

  .top-menu-icon {
    display: block !important;
  }
}

@media screen and (max-width: 1090px) {
  .top-menu.toggled {
    padding: 0;
    max-height: 1500px;
    transition: max-height 1s;
  }

  .top-menu.toggled > .left {
    border-bottom: 1px solid black;
    margin: 10px 0 0 0;
  }

  .button {
    border-bottom: 1px solid black;
    margin-top: 10px;
  }

  .top-menu.toggled *:not(.top-menu-lead):not(.top-menu-icon) {
    float: none;
    display: block !important;
    text-align: left;
    margin: 0;
  }
}
